*{
    margin:0;
    padding:0;
}
:root{
    --cor-fundo:#26258f;
    --cor--fonte:#FFFFFF;
    --cor--fundo2:#5C3A62;
    --cor--fundo3:#D9D9D9;
    --cor--fonte:#000000;
}
    .cabecalho{
        background-color: var(--cor-fundo);
        color:#FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
    .image-cabecalho{
        width: 5%;
    }
    .item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
   font-size: 24px;
}
    .escola-imagem{
        width: 20%;
        padding-left: 22%;
    }
    .escola{
    background-image: linear-gradient(#26258f, #1288d6);
        color:#ffffff;
       display: flex;
        align-items: center;
        padding: 24px 0;
        padding-left: 15%;
    }
    .escola-div-conteudo{
        width: 35%;
    }
    .escola-titulo{
        padding: 24px 0;
    }
    .estudante-imagem{
        width: 120px;
    }
    .estudante-icone{
        width: 24px;
        padding:15px;
    }
    .estudante-div{
        text-align: center;
        padding:16px 0;
    }
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
.estudante{
    background-color:#D9D9D9;

}
.rodape{
    background-color: #000000;
    text-align: center;

}
.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}