*{
    margin:0;
    padding:0;
}
:root{
    --cor--fundo:#5E3B65;
    --cor--fonte:#FFFFFF;
    --cor--fundo2:#5C3A62;
    --cor--fundo3:#D9D9D9;
    --cor--fonte:#000000;
}
    .cabecalho{
        background-color: #5C3A62;
        color:#FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
    .image-cabecalho{
        width: 10%;
    }
    .item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
   font-size: 24px;
}
    .escola-imagem{
        width: 20%;
    }
    .escola{
        background-image: linear-gradient(#393682, #4E4E94);
        color: var(--cor--fonte);
    }