*{
    margin:0;
    padding:0;
}
:root{
    --cor-fundo:#26258f;
    --cor--fonte:#FFFFFF;
    --cor--fundo2:#5C3A62;
    --cor--fundo3:#D9D9D9;
    --cor--fonte:#000000;
}
    .cabecalho{
        background-color: var(--cor-fundo);
        color:#FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
    .image-cabecalho{
        width: 10%;
    }
    .item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
   font-size: 24px;
}
    .escola-imagem{
        width: 20%;
    }
    .escola{
        background-color: linear-gradient(#393682, #4E4E94);
        color:#da0b0b;
        align-items: center;
        padding: 24px;
    }